<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Email Confirmation</title>
    
</head>
<body style="background: #f1f1f1;
            font-family: 'Raleway', sans-serif;
            font-size: 14px;
            color: #000;">
    <div class="logo" style="
    background-color: #000;
    padding: 20px 30px;
    text-align: center;
    color: #fff;
    font-size: 25px;
    text-transform: uppercase;
    ">Spirit.</div>
    <div class="container" style="
        min-height: 70vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    ">
        <h1>You are almost there, {{ user.username }}!</h1><br>
        <h2>Please click <a href="{{ link }}" style="
            margin-top: 25px;
            font-size: 14px;
            color: #fff;
            background: #000;
            border: none;
            font-weight: 600;
            letter-spacing: 2px;
            padding: 10px 16px;
            cursor: pointer;
            text-transform: uppercase;
            text-decoration: none;">here</a> to confirm your account</h2>
        <h2>The link expires on {{ expiry|time:"TIME_FORMAT" }}</h2>
    </div>
    <div class="copyright" style="
    text-align: center;
    color:lightgray;
    ">&copy; 2021 sprit.ge</div>
</body>
</html>